// Base
$base-fz: 16px;
$font-55: "NeueHaasGroteskDisp 55";
$font-65: "NeueHaasGroteskDisp 65";
$font-75: "NeueHaasGroteskDisp 75";
$font-95: "NeueHaasGroteskDisp 95";
$font-knockout: "Knockout";

// Colors
$no-clr: transparent;
$white-clr: #ffffff;
$black-clr: #000000;
$clr-999999: #999999;
$clr-f1f1f1: #f1f1f1;
$clr-1dc95c: #1dc95c;
$clr-3addf2: #3addf2;
$clr-ff6118: #ff6118;
$clr-e6e7e8: #e6e7e8;
$clr-a7a9ac: #a7a9ac;
$clr-808285: #808285;
$clr-f1f2f2: #f1f2f2;
$clr-939598: #939598;
$clr-bcbec0: #bcbec0;
$clr-0068ff: #0068ff;

// Media Sizes
$break-1280: 1280px;
$break-1080: 1080px;
$break-991: 991px;
$break-767: 767px;

/*
@media (max-width: $break-767) {}
*/
